{% load widget_tweaks %}

  {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <div role="alert" class="alert alert-danger">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

<div class="form-group">
          <label class="switch" id="switch_pass" title="show password"><input type="checkbox" onclick="mostrarPswd()" class="form-control primary">
          <span class="slider round"></span>
          </label>
      </div>
  